.YOUTUBE_LOGO{
    margin-top: 100px;
    text-align: center;
}

#introduce{
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
}

#introduce h2{
    margin-bottom: 100px;
    margin-left: 30px;
}

#history{
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
}

#history h2{
    margin-bottom: 100px;
    margin-left: 30px;
}

#Service{
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
}

#Service h2{
    margin-bottom: 50px;
    margin-left: 30px;
}
#Service h3{
    margin-left:20px;
}

#Service img{
    margin-left: 20px;
}
 
#Function{
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
    align-items: center;
}

#Function h2{
    margin-bottom: 100px;
    margin-left: 30px;
}
#Function li{
    margin-top: 50px;
    list-style: none;
}

#Function h3{
    margin-top: 100px;
}

.Video{
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
}

.FOOT{
    text-align: center;
}


#but1{
    position: fixed;
    bottom: 3.5em;
    right: 3em;
    background-color: rgba(255,255,255,.9);
    color:#313943;
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5em;
    box-shadow: 0 0 2em 0 rgba(0,0,0, .25);
    transition:  all .3s ease-in-out;
    display: inline-block;
    opacity: 0;
    text-decoration: none;


}
#but2{
    position: fixed;
    bottom: 1em;
    right: 3em;
    background-color: rgba(255,255,255,.9);
    color:#313943;
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5em;
    box-shadow: 0 0 2em 0 rgba(0,0,0, .25);
    transition:  all .3s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

#but1.visible{
    opacity: 1;
}

.hideme
{
    opacity:0;
}


.showme {
    border: 1px solid white;

    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-fwd{

}